---
import GitHub from "./icons/GitHub.astro"
import NextJS from "./icons/NextJS.astro"
import PHP from "./icons/PHP.astro"
import CSS from "./icons/CSS.astro"
import HTML from "./icons/HTML.astro"
import Tailwind from "./icons/Tailwind.astro"
import Fav from "./icons/Fav.astro"
import React from "./icons/React.astro"
import Link from "./icons/Link.astro"
import LinkButton from "./LinkButton.astro"

const TAGS = {
  NEXT: {
    name: "Next.js",
    class: "bg-black text-white",
    icon: NextJS,
  },
  TAILWIND: {
    name: "Tailwind CSS",
    class: "bg-[#003159] text-white",
    icon: Tailwind,
  },
  PHP: {
    name: "PHP",
    class: "bg-[#474A8A] text-white",
    icon: PHP
  },
  CSS: {
    name: "CSS",
    class: "bg-[#2965f1] text-white",
    icon: CSS
  },
  HTML: {
    name: "HTML",
    class: "bg-[#f06529] text-white",
    icon: HTML
  },
  ASTRO: {
    name: "Astro",
    class: "bg-orange-700 text-white",
    icon: Fav
  },
  REACT: {
    name: "React",
    class: "bg-sky-700 text-white",
    icon: React
  }
}
const PROJECTS = [
  {
    title: "Blog de Cafe",
    description:
      "Proyecto de Landing Page tipo Blog realizado con PHP, HTML y CSS puros",
    link: "https://boisterous-monstera-868e0e.netlify.app/",
    github: "https://github.com/MarcoAHS/PHP.Webs/tree/main/MarcoAntonioBlogCafe",
    image: "https://app.netlify.com/.netlify/images?url=https://d33wubrfki0l68.cloudfront.net/63bf54554e8ceb5b4c5ba3c1/screenshot_2023-01-12-00-29-11-0000.png&fit=cover&h=500&w=800",
    tags: [TAGS.CSS, TAGS.PHP, TAGS.HTML],
  },
  {
    title: "Clon de Spotify (Clonify)",
    description:
      "Clon de Spotify, funcional, con transisiones entre paginas para que se conserve el Layout, y el estado del Reproducto de Musica no se interrumpa, para esto utilice Astro, y tambien utilice TailwindCSS, Componentes de React, y un estado Global usando Zustand",
    link: "https://elaborate-sopapillas-9fc246.netlify.app/",
    github: "https://github.com/MarcoAHS/Clonify",
    image: "https://app.netlify.com/.netlify/images?url=https://d33wubrfki0l68.cloudfront.net/667350be70b58f9bee9eb4a0/screenshot_2024-06-19-21-44-06-0000.webp&fit=cover&h=500&w=800",
    tags: [TAGS.TAILWIND, TAGS.ASTRO, TAGS.REACT],
  }
]
---

<div class="flex flex-col gap-y-16">
  {
    PROJECTS.map(({ image, title, description, tags, link, github }) => (
    <article class="flex flex-col space-x-0 space-y-8 group md:flex-row md:space-x-8 md:space-y-0">
  <div class="w-full md:w-1/2">
    <div class="relative flex flex-col items-center col-span-6 row-span-5 gap-8 transition duration-500 ease-in-out transform shadow-xl overflow-clip rounded-xl sm:rounded-xl md:group-hover:-translate-y-1 md:group-hover:shadow-2xl lg:border lg:border-gray-800 lg:hover:border-gray-700 lg:hover:bg-gray-800/50">
      <img alt=`Imagen de Proyecto ${title}` class="object-cover object-top w-full h-56 transition duration-500 sm:h-full md:scale-110 md:group-hover:scale-105" loading="lazy" src={image} />
    </div>
  </div>

  <div class="w-full md:w-1/2 md:max-w-lg">
    <h3 class="text-2xl font-bold text-gray-800 dark:text-gray-100">
      {title}
    </h3>
    <div class="flex flex-wrap mt-2">
      <ul class="flex flex-row mb-2 gap-x-2">
          {tags.map((tag) => (
            <li>
              <span
                class={`flex gap-x-2 rounded-full text-xs ${tag.class} py-1 px-2 `}
              >
                <tag.icon class="size-4" />
                {tag.name}
              </span>
            </li>
          ))}
        </ul>

      <div class="mt-2 text-gray-700 dark:text-gray-400">{description}</div>
      <footer class="flex items-end justify-start mt-4 gap-x-4">
          {github && (
            <LinkButton href={github}>
              <GitHub class="size-6" />
              Code
              
            </LinkButton>
          )}
          {link && (
            <LinkButton href={link}>
              <Link class="size-4" />
              Preview
            </LinkButton>
          )}
        </footer>
    </div>
  </div>
</article>
    ))
  }
</div>



